<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <div id="outer-container">
    <div id="header">
      <div id="main-logo">
        <h1>Evan Douglas</h1>
      </div>
      <div id="main-menu">
        <ul>
          <li class="first-item">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/cv">CV</a>
          </li>
          <li class="last-item">
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>
    <!-- /.container -->
    <div id="site-credits">
      <footer>
        <table style="margin-left:auto; margin-right:auto; width:auto; text-align:center;" class="table">
          <tr>
            <td class="col-xs-3" style="width:30%">
              <a href="mailto:eadouglas97@gmail.com">Personal Email</a>
            </td>
            <td class="col-xs-3" style="width:30%">
              <a href="mailto:douglasea@msoe.edu">School Email</a>
            </td>
            <td class="col-xs-3" style="width:30%">
              <a href="https://github.com/evandouglas">github.com/evandouglas</a>
            </td>
          </tr>
        </table>
      </footer>
    </div>
  </div>
</body>

</html>
